@import '../../src/scss/vars';

.columns_with_icons_block {
	padding: 140px 0 194px;

	@media (max-width: $md) {
		padding: 100px 0;
	}

	@media (max-width: $sm) {
		padding: 80px 0 30px;
	}

	@media (max-width: $xs) {
		padding: 60px 0;
	}

	/*settings*/
	&.heading_black {
		h2 {
			color: $black-type-1;
		}
	}

	&.heading_white {
		h2 {
			color: $white-type-1;
		}
	}

	&.text_black {
		.content,
		.columns .item {
			color: $black-type-1;
		}
	}

	&.text_white {
		.content,
		.columns .item {
			color: $white-type-1;
		}
	}

	/*settings*/

	h2 {
		text-align: center;
		max-width: 978px;
		margin: 0 auto 19px;
		font-family: $pt-sans;
		font-weight: 700;
	}

	.content {
		max-width: 978px;
		margin: 0 auto;
		text-align: center;
		font-size: 18px;
		line-height: 30px;

		@media (max-width: $xs) {
			font-size: 16px;
			line-height: 28px;
		}

		p {
			margin: 0;
		}
	}

	.columns {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 77px;

		@media (max-width: $sm) {
			margin-top: 60px;
		}

		@media (max-width: $xs) {
			margin-top: 40px;
		}

		.item {
			width: 33.33%;
			padding: 0 20px;
			text-align: center;
			margin-bottom: 60px;

			@media (max-width: $sm) {
				width: 50%;
			}

			@media (max-width: $xs) {
				width: 100%;
				margin-bottom: 0;
			}

			.image {
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: 225px;

				img {
					display: block;
					width: 100%;
					max-width: 305px;
				}
			}

			.heading {
				font-family: $museo-slab;
				font-weight: 700;
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 14px;

				@media (max-width: $md) {
					font-size: 22px;
					line-height: 28px;
				}

				@media (max-width: $sm) {
					font-size: 20px;
					line-height: 26px;
				}
			}

			.content {
				font-size: 17px;
				line-height: 30px;
				text-align: center;

				@media (max-width: $xs) {
					font-size: 16px;
					line-height: 28px;
				}

				p {
					margin: 0;
				}
			}
		}

		.slick-dots {
			margin-top: 30px;
		}
	}

	.btn-holder {
		display: flex;
		justify-content: center;

		@media (max-width: $xs) {
			margin-top: 30px;
		}
	}
}