@import '../../src/scss/vars';

.carousel_full_width_block {
	/*settings*/
	&.heading_black {
		h2 {
			color: $black-type-1;
		}
	}

	&.heading_white {
		h2 {
			color: $white-type-1;
		}
	}

	&.text_black {
		.s_carousel .item .holder {
			color: $black-type-1;
		}
	}

	&.text_white {
		.s_carousel .item .holder {
			color: $white-type-1;
		}
	}

	/*settings*/

	h2 {
		text-align: center;
		margin: 0 0 60px;
		font-family: $pt-sans;
		font-weight: 700;

		@media (max-width: $md) {
			margin: 0 0 40px;
		}

		@media (max-width: $xs) {
			margin: 0 0 20px;
		}
	}

	.s_carousel {
		.slick-track {
			display: flex !important;
		}

		.slick-dots {
			margin-top: 48px;

			@media (max-width: $sm) {
				margin-top: 30px;
			}
		}

		.item {
			height: inherit !important;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			@media (max-width: $xs) {
				background-image: none !important;
			}

			.mob-image {
				display: none;
				height: 300px;
				width: 100%;

				@media (max-width: $xs) {
					display: block;
				}

				img {
					height: 100%;
					object-fit: cover;
				}
			}

			.container {
				padding: 185px 30px;

				@media (max-width: $md) {
					padding: 100px 30px;
				}

				@media (max-width: $sm) {
					padding: 60px 30px;
				}

				@media (max-width: $xs) {
					padding: 0;
				}
			}

			.holder {
				background-color: $white;
				max-width: 626px;
				padding: 66px 97px 54px 91px;

				@media (max-width: $md) {
					padding: 40px;
				}

				@media (max-width: $xs) {
					padding: 40px 30px;
				}

				.heading {
					font-size: 36px;
					margin-bottom: 14px;
					font-family: $museo-slab;
					font-weight: 700;

					@media (max-width: $md) {
						font-size: 30px;
					}

					@media (max-width: $sm) {
						font-size: 26px;
					}

					@media (max-width: $xs) {
						font-size: 22px;
					}
				}

				.content {
					font-size: 18px;
					line-height: 30px;

					@media (max-width: $xs) {
						font-size: 16px;
						line-height: 28px;
					}

					* {
						margin: 0;
					}
				}
			}
		}
	}
}