.careers-single {
    padding: 210px 0 150px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #F7F9F7;
    background-position: top -30px center;
}
@media screen and (max-width: 767.98px) {
    .careers-single {
        padding: 140px 0 90px;
    }
}
.careers-single .container {
    max-width: 1140px;
}
.careers-single h4 {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px; font-weight: 700;
    line-height: 24px;
    color: #3e3e3e;
    text-transform: uppercase;
    margin-bottom: 69px;
}
@media screen and (max-width: 576.98px) {
    .careers-single h4 {
        margin-bottom: 30px;
    }
}
.careers-single h1 {
font-family: 'PT Sans',sans-serif;
font-size: 52px;
font-weight: 700;
line-height: 62px;
    color: #3e3e3e;
    text-transform: capitalize;
    margin-bottom: 9px;
}
@media screen and (max-width: 576px) {
    .careers-single h1 {
        font: normal normal bold 42px/52px "PT Sans", sans-serif;
    }
}
.careers-single .location {
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #3e3e3e;
    text-transform: uppercase;
    margin-bottom: 26px;
}
.careers-single .btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 120px;
    padding: 0;
}
@media screen and (max-width: 767.98px) {
    .careers-single .btn-list {
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 576.98px) {
    .careers-single .btn-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.careers-single .btn-list li {
    list-style: none;
    padding-left: 0;
}
@media screen and (max-width: 576.98px) {
    .careers-single .btn-list li {
        width: 100%;
    }
}
.careers-single .btn-list li::before {
    display: none;
}
.careers-single .btn-list li:not(:last-child) {
    margin-right: 30px;
}
@media screen and (max-width: 576.98px) {
    .careers-single .btn-list li:not(:last-child) {
        margin-right: 0;
    }
}
.careers-single .btn-list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 47px;
    height: 66px;
    letter-spacing: 1px;
    color: #f7f9f7;
    text-transform: uppercase;
    border-radius: 100px;
font-family: 'Open Sans',sans-serif;
font-size: 20px;
line-height: 22px;
font-weight: 700;
}
@media screen and (max-width: 576.98px) {
    .careers-single .btn-list li a {
        width: 100%;
        padding: 0 27px;
        font: normal normal bold 18px/26px "Open Sans", sans-serif;
    }
}
.careers-single .btn-list li a img {
    margin-left: 35px;
}
@media screen and (max-width: 576.98px) {
    .careers-single .btn-list li a img {
        margin-left: 15px;
    }
}
.careers-single .btn-list li a.link {
    background: #0eafdb;
}
.careers-single .btn-list li a.link:hover {
    background: #f2542d;
}
.careers-single .btn-list li a.apply {
    background: #f2542d;
}
.careers-single .btn-list li a.apply:hover {
    background: #0eafdb;
}
.careers-single h3 {
    font-family: 'MuseoSlab', sans-serif;
	font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #3e3e3e;
    margin-bottom: 27px;
}
.careers-single p {
    margin-bottom: 60px;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #3e3e3e;
}
.careers-single ul {
    margin-bottom: 60px;
}
.careers-single ul li {
    padding-left: 20px;
    list-style: none;
    margin-bottom: 24px;
    position: relative;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #3e3e3e;
}
@media screen and (max-width: 576.98px) {
    .careers-single ul li {
        margin-bottom: 15px;
    }
}
.careers-single ul li::before {
    content: "";
    width: 5px;
    height: 5px;
    background: #0eafdb;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 12px;
}
.careers-single ul li > ul {
    margin-top: 31px;
    padding-left: 10px;
}
@media screen and (max-width: 576.98px) {
    .careers-single ul li > ul {
        margin-top: 20px;
        padding-left: 0;
    }
}
.careers-single .form-block {
    background: #fff;
    -webkit-box-shadow: 0 0 20px #00000033;
    box-shadow: 0 0 20px #00000033;
    border-radius: 5px;
    padding: 50px 70px;
}
@media screen and (max-width: 767.98px) {
    .careers-single .form-block {
        padding: 30px 40px 50px;
    }
}
@media screen and (max-width: 576.98px) {
    .careers-single .form-block {
        padding: 20px 20px 30px;
    }
}
.careers-single .form-block textarea {
    width: 100%;
    height: 134px;
    background: #fff;
    border: 1px solid #54565a;
    border-radius: 3px;
    padding: 11px 15px;
    margin-bottom: 34px;
    font: normal normal normal 16px/24px "Open Sans", sans-serif;
    color: #3e3e3e;
    resize: none;
}
.careers-single .form-block input {
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #54565a;
    border-radius: 3px;
    padding-left: 15px;
    margin-bottom: 15px;
    font: normal normal normal 16px/24px "Open Sans", sans-serif;
    color: #3e3e3e;
}
.careers-single .form-block .captcha {
    margin-bottom: 58px;
}
@media screen and (max-width: 576px) {
    .careers-single .form-block .captcha {
        margin-bottom: 30px;
    }
}
.careers-single .form-block button {
    width: 237px;
    height: 66px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #755cc0;
    border-radius: 100px;
    color: #f7f9f7;
    text-transform: uppercase;
    font: normal normal bold 20px/22px "Open Sans", sans-serif;
    border: 0;
    margin: 0 auto;
}
.careers-single .form-block button img {
    margin-left: 35px;
}
.careers-single .form-block button:hover {
    background: #f2542d;
}
.careers-single .form-block .check {
    position: relative;
    margin-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.careers-single .form-block .check input {
    position: absolute;
    display: none;
}
.careers-single .form-block .check input:checked + label:before {
    background: #489fdf;
    border: 1px solid #489fdf;
}
.careers-single .form-block .check label {
    font: normal normal normal 14px/20px "Open Sans", sans-serif;
    margin-bottom: 0;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}
.careers-single .form-block .check label a {
    color: #489fdf;
    text-decoration: underline;
}
.careers-single .form-block .check label a:hover {
    text-decoration: none;
}
.careers-single .form-block .check label::before {
    content: "";
    border: 1px solid #5b6770;
    background: #fff;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
.careers-single .form-block .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -8px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.careers-single .form-block .flex .col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 8px;
}
@media screen and (max-width: 576px) {
    .careers-single .form-block .flex .col {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
}